#options-section {
  background-color: gainsboro;
  border-bottom: 2px solid #D2D2D2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding: 5px 0px;
  width: 100%;
}
.option-title {
  padding-right: 5px;
}
#canvas {
  display: none;
}
.ui-button {
  vertical-align: top;
}
.ui-selectmenu-button {
  vertical-align : top;
}
#loading-div {
  display: none;
  text-align: center;
  width: 100%;
}
#loading {
  margin-top: 5px;
}
#screenshot {
  display: block;
  margin: auto;
  padding-top: 25px;
}
.ui-dialog {
  z-index: 91;
}
.jcrop-holder {
  margin: 30px auto auto auto;
  z-index: 90;
}
#new-user-section {
  flex-grow: 1;
  margin-left: 5px;
}
#user-section {
  display: inline-block;
  flex-grow: 2;
}
#username {
  font-size: 1.0em;
  font-weight: bold;
  margin: 0px 10px;
}
#user-section label {
  #username();
}
#end-section {
  margin-right: 5px;
}
#end-section button {
  margin-right: 5px;
}
button {
  padding: 5px;
}
select {
  margin-right: 30px;
  padding-right: 5px;
}
body {
  font-family: "FontAwesome";
  font-size: 0.75em;
  margin: 0px;
}
